<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="sessionFactory" class="com.city.oa.factory.HibernateFactory" factory-method="getSessionFactory">
	
	</bean>

	<bean id="departmentBusiness" class="com.city.oa.business.impl.DepartmentBusinessImpl">
		<property name="sf" ref="sessionFactory">
			
		</property>
	</bean>

</beans>